<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web project for Faifly">
    <meta name="author" content="Nikita Yelistratov">

    <title>Main page</title>

    <link rel="shortcut icon" href="./img/ico.png" type="image/png">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="./css/tajam.css" rel="stylesheet">

    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2956773, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

</head>

<body>

    <section id="home">
        <header class="bg-header text-white text-center" style="position: relative;">
            <div class="bg-secondary" style="padding-bottom: 70px;">
                <nav class="navbar navbar-expand-lg text-uppercase" id="mainNav">
                    <div class="container-fluid" style="padding-left: 0%; padding-right: 0%;">
                        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="">
                            <span class="logo-span">tajam</span>
                        </a>

                        <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded"
                            type="button" data-toggle="collapse" data-target="#navbarResponsive"
                            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                            style="margin-right: 20px;">
                            Menu
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#home"><span
                                            class="span">HOME</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about"><span
                                            class="span">ABOUT</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                        href="#expertise"><span class="span">EXPERTISE</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#teams"><span
                                            class="span">TEAMS</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#works"><span
                                            class="span">WORKS</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#people"><span
                                            class="span">PEOPLE
                                            SAY</span></a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                        href="#contact"><span class="span">CONTACT</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="container" style="margin-top: 160px;">

                    <h5 class="h5-home">We Are Awesome Creative Agency</h5>

                    <hr style="border-color: #00e0d0; width: 50px; margin-top: 20px; margin-bottom: 20px;">

                    <div class="row">
                        <div class="col-md-8 col-sm-11" style="margin:0 auto 0 auto;">

                            <p class="p-home">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor
                                aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                                amet mauris. Morbi accumsan ipsum velit.
                            </p>

                        </div>
                    </div>

                    <button type="button" class="btn btn-outline" style="margin-bottom: 140px;">LEARN MORE</button>

                    <br>

                    <div style="position: absolute; right: 0; bottom: 0; left: 0; margin-bottom: 40px;">
                        <div class="circle" style="background-color: #00e0d0;">
                        </div>
                        <div class="circle">
                        </div>
                        <div class="circle">
                        </div>
                        <div class="circle">
                        </div>
                    </div>

                </div>
            </div>
        </header>
    </section>

    <section id="about">
        <div class="container" style="margin-bottom: 70px; margin-top: 70px;">
            <div class="row">
                <div class="col-md-5 col-sm-12"
                    style="height: 229px; background: url(./img/about_logo.png) center no-repeat; background-size: contain;">
                </div>
                <div class="col-md-7 col-sm-12">
                    <h5 class="mt-0 h5-about">OUR STORY</h5>
                    <p class="p-about">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet. Aenean
                        sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                        elit. Duis sed odio sit amet nibh vulputate cursus </p>
                    <p class="mb-0 p-about">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
                        auctor a ornare odio.
                        Sed non mauris
                        vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos.</p>
                    <button type="button" class="btn btn-outline">LEARN MORE</button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bg-third">
            <div class="bg-secondary" style="position: relative;">
                <div class="play-btn"></div>
                <p class="p-video">WATCH OUR STORY</p>
            </div>
        </div>
    </section>

    <section id="expertise">
        <div class="container-fluid" style="margin-bottom: 70px; margin-top: 70px;">

            <h5 class="h5-expertise">EXPERTISE</h5>
            <p class="p-expertise">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
            <hr style="border-color: #413d4b; width: 50px; margin-top: 20px; margin-bottom: 20px; opacity: 0.3;">

            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12 card-experise" style="border-bottom: #8080806b solid 1px;">
                        <div
                            style="height: 50px; background: url(./img/pc.png) center no-repeat; background-size: contain; margin: 30px;">
                        </div>
                        <h5 class="h5-expertise-card">WEB DESIGN & DEVELOPMENT</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                    <div class="col-md-4 col-sm-12 card-experise"
                        style="border-bottom: #8080806b solid 1px; border-left: #8080806b solid 1px; border-right: #8080806b solid 1px;">
                        <div
                            style="height: 42px; background: url(./img/brush.png) center no-repeat; background-size: contain; margin: 34px;">
                        </div>
                        <h5 class="h5-expertise-card">BRANDING IDENTITY</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                    <div class="col-md-4 col-sm-12 card-experise" style="border-bottom: #8080806b solid 1px;">
                        <div
                            style="height: 50px; background: url(./img/phone.png) center no-repeat; background-size: contain; margin: 30px;">
                        </div>
                        <h5 class="h5-expertise-card">MOBILE APP</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                    <div class="col-md-4 col-sm-12 card-experise" style="border-top: #8080806b solid 1px;">
                        <div
                            style="height: 50px; background: url(./img/chart.png) center no-repeat; background-size: contain; margin: 30px;">
                        </div>
                        <h5 class="h5-expertise-card">SEARCH ENGINE OPTIMIZATION</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                    <div class="col-md-4 col-sm-12 card-experise"
                        style="border-top: #8080806b solid 1px; border-left: #8080806b solid 1px; border-right: #8080806b solid 1px;">
                        <div style=" height: 50px; background: url(./img/game_station.png) center no-repeat;
                        background-size: contain; margin: 30px;">
                        </div>
                        <h5 class="h5-expertise-card">GAME DEVELOPMENT</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                    <div class="col-md-4 col-sm-12 card-experise" style="border-top: #8080806b solid 1px;">
                        <div
                            style="height: 46px; background: url(./img/heart.png) center no-repeat; background-size: contain; margin: 32px;">
                        </div>
                        <h5 class="h5-expertise-card">MADE WITH LOVE</h5>
                        <p class="p-expertise-card">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                            velit auctor aliquet
                            Aenean.</p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="teams">
        <div class="bg-fourth">
            <div class="bg-secondary" style="padding-top: 70px; padding-bottom: 70px;">
                <div class="container">

                    <h5 class="h5-teams">MEET OUR AMAZING TEAM</h5>
                    <p class="p-teams">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
                    <hr style="border-color: #fff; width: 50px; margin-top: 20px; margin-bottom: 30px; opacity: 0.2;">

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="teams-card">
                                <div
                                    style="height: 230px; background: url(./img/white_screen.png) center no-repeat; background-size: cover;">
                                </div>
                                <div style="padding-top: 25px">
                                    <h6 class="h6-teams-card">SEMF UCUK</h6>
                                    <p class="p-teams-card">CEO & FOUNDER</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="teams-card">
                                <div
                                    style="height: 230px; background: url(./img/white_screen.png) center no-repeat; background-size: cover;">
                                </div>
                                <div style="padding-top: 25px">
                                    <h6 class="h6-teams-card">DIK ADALIN</h6>
                                    <p class="p-teams-card">ENGINEERING</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="teams-card">
                                <div
                                    style="height: 230px; background: url(./img/white_screen.png) center no-repeat; background-size: cover;">
                                </div>
                                <div style="padding-top: 25px">
                                    <h6 class="h6-teams-card">JENG KOL</h6>
                                    <p class="p-teams-card">DESIGNER</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="teams-card">
                                <div
                                    style="height: 230px; background: url(./img/white_screen.png) center no-repeat; background-size: cover;">
                                </div>
                                <div style="padding-top: 25px">
                                    <h6 class="h6-teams-card">PET ROMAK</h6>
                                    <p class="p-teams-card">MARKETING</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <p class="p-teams-description">Become part of our dream team, let’s join us ! </p>
                    <button type="button" class="btn btn-outline" style="display: block; margin: 0 auto 0 auto;">WE ARE
                        HIRING</button>

                </div>
            </div>
        </div>
    </section>

    <section id="works">
        <div class="container-fluid" style="margin-bottom: 70px; margin-top: 70px;">

            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <h5 class="h6-works">OUR WORKS</h5>
                </div>

                <div class="col-md-6 col-sm-6">
                    <p class="p-works">See All Project in dribbble ></p>
                </div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #808080;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #555555;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #b8b8b8;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #292929;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #808080;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #555555;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #b8b8b8;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #292929;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #808080;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #555555;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #b8b8b8;"></div>

                <div class="col-md-2 col-sm-4" style="height: 200px; background-color: #292929;"></div>

            </div>

            <button type="button" class="btn btn-outline" style="display: block; margin: 80px auto 0 auto">LOAD
                MORE</button>
        </div>
    </section>

    <section id="people">
        <div class="bg-fifth">
            <div class="bg-secondary" style="padding-top: 70px; padding-bottom: 70px;">
                <div class="container">

                    <span class="span-quotation-mark">&#8220;</span>

                    <div class="row">
                        <div class="col-md-8 col-sm-11" style="margin:20px auto 20px auto;">
                            <p class="p-people-say">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                velit auctor aliquet. Aenean
                                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                nibh id
                                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                                ipsum
                                velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                                consequat
                                auctor eu in elit.</p>
                        </div>
                    </div>

                    <h5 class="h5-people-say">JANE GALADRIEL</h5>
                    <p class="p-people-ceo">CEO TENGKUREP</p>

                    <div style="text-align: center; color: white;">
                        <div style="display: inline-block; vertical-align: middle;"><i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="div-people-say"
                            style="height: 45px; width: 45px; background: url(./img/human1.png) center no-repeat;">
                        </div>
                        <div class="div-people-say"
                            style="height: 45px; width: 45px; background: url(./img/human2.png) center no-repeat;">
                        </div>
                        <div class="div-people-say"
                            style="height: 70px; width: 70px; background: url(./img/human3.png) center no-repeat;">
                        </div>
                        <div class="div-people-say"
                            style="height: 45px; width: 45px; background: url(./img/human4.png) center no-repeat;">
                        </div>
                        <div class="div-people-say"
                            style="height: 45px; width: 45px; background: url(./img/human5.png) center no-repeat;">
                        </div>
                        <div style="display: inline-block; vertical-align: middle;"><i class="fas fa-chevron-right"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container" style="margin-bottom: 70px; margin-top: 70px;">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <h5 class="h5-contact">GIVE US A GOOD NEWS</h5>

                    <div class="input-group mb-3">
                        <input type="text" class="input-contact form-control" placeholder="Name" aria-label="Name">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="input-contact form-control" placeholder="Email" aria-label="Email">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="input-contact form-control" placeholder="Subject"
                            aria-label="Subject">
                    </div>

                    <div class="input-group">
                        <textarea style="height:200px" class="input-contact form-control" placeholder="Your Message"
                            aria-label="Your Message"></textarea>
                    </div>

                    <button type="button" class="btn btn-outline" style="margin-bottom: 20px">SUBMIT</button>
                </div>

                <div class="col-md-6 col-sm-12">
                    <h5 class="h5-contact">OUR HAPPY CLIENT</h5>

                    <div class="row">

                        <div class="col-md-6 col-sm-6 client-logo" style="background-image: url(./img/Zara_Logo.png)">
                        </div>

                        <div class="col-md-6 col-sm-6 client-logo"
                            style="background-image: url(./img/Logo_of_Mango.png)"></div>

                        <div class="col-md-6 col-sm-6 client-logo"
                            style="background-image: url(./img/Barneys_New_York_Logo.png)"></div>

                        <div class="col-md-6 col-sm-6 client-logo" style="background-image: url(./img/Gucci_Logo.png)">
                        </div>

                        <div class="col-md-6 col-sm-6 client-logo"
                            style="background-image: url(./img/Calvin_klein_logo.png)"></div>

                        <div class="col-md-6 col-sm-6 client-logo" style="background-image: url(./img/Logo_NIKE.png)">
                        </div>

                        <div class="col-md-6 col-sm-6 client-logo"
                            style="background-image: url(./img/Converse_logo.png)"></div>

                        <div class="col-md-6 col-sm-6 client-logo" style="background-image: url(./img/Puma_Logo.png)">
                        </div>

                        <div class="col-md-6 col-sm-6 client-logo"
                            style="background-image: url(./img/Levi\'s_logo.png)"></div>

                        <div class="col-md-6 col-sm-6 client-logo" style="background-image: url(./img/Billabong.png)">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <footer class="footer bg-footer">
        <div class="bg-secondary" style="padding-top: 70px; padding-bottom: 70px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <img src="img/logo.png" alt="">
                        <span class="logo-span">tajam</span>
                        <p class="p-footer">lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                            elit. Duis sed
                            odio sit amet auctror a ornare odio non mauris vitae erat in elit</p>
                    </div>

                    <div class="col-md-4">
                        <h5 class="h5-footer">OUR STUDIO</h5>
                        <div class="row">

                            <div class="col-md-12 col-sm-12">
                                <i class="fas fa-map-marker-alt"
                                    style="display: inline-block; color: white; vertical-align: top;"></i>

                                <div style="display: inline-block; margin-left: 10px;">

                                    <p class="p-footer">Ruko cucruk, Jl. Radio luar dalem jos<br>
                                        No.12 - 13, Kalideres - Jakarta Barat<br>
                                        11480 - Indonesia
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <i class="fas fa-phone"
                                    style="display: inline-block; color: white; vertical-align: middle;"></i>

                                <div style="display: inline-block; margin-left: 6px;">
                                    <p class="p-footer">(+62) 21-2224 3333</p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <h5 class="h5-footer">STAY IN TOUCH</h5>
                        <div class="input-group mb-3">
                            <input type="text" class="input-footer form-control" placeholder="Subscribe our newsletter"
                                aria-label="Subscribe our newsletter">
                            <div class="input-group-append">
                                <button class="button-footer btn btn-outline-secondary" type="button"
                                    id="button-addon2"><i class="fab fa-telegram-plane"
                                        style="font-size: 30px;"></i></button>
                            </div>
                        </div>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="chat" data-toggle="modal" data-target="#chat"><i class="fas fa-comments"></i></a>
    <div class="modal fade" id="chat" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="chatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="allMessages"></div>
                </div>
                <div class="modal-footer">
                    <form id="messForm" action="" style="width: 100%;">
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="nickname" placeholder="Nickname"
                                    aria-label="Nickname">
                            </div>
                            <textarea class="form-control" id="textareaMessage" placeholder="Your message"
                                aria-label="Your Message"></textarea>
                            <div class="input-group-append">
                                <button class="btn btn-outline" type="submit" id="button-addon2" style="margin: 0;"><i
                                        class="fab fa-telegram-plane" style="font-size: 30px; vertical-align: middle;
                                        display: inline;"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer data-plerdy_code='1'>
        var _protocol = "https:" == document.location.protocol ? " https://" : " http://";
        _site_hash_code = "4154b324f895900d5985325d8d8987a4", _suid = 26372, plerdyScript = document.createElement("script");
        plerdyScript.setAttribute("defer", ""), plerdyScript.dataset.plerdymainscript = "plerdymainscript",
            plerdyScript.src = "https://a.plerdy.com/public/js/click/main.js?v=" + Math.random();
        var plerdymainscript = document.querySelector("[data-plerdymainscript='plerdymainscript']");
        plerdymainscript && plerdymainscript.parentNode.removeChild(plerdymainscript);
        try { document.head.appendChild(plerdyScript) } catch (t) { console.log(t, "unable add script tag") }
    </script>

</body>

<!-- Bootstrap core JavaScript -->
<script src=" vendor/jquery/jquery.min.js">
</script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/tajam.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(function () {
        let socket = io.connect();
        let $form = $("#messForm");
        let $textarea = $("#textareaMessage");
        let $allMessages = $("#allMessages");
        let $nickname = $("#nickname");
        let $bgColor = Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000;


        $form.submit(function (event) {
            event.preventDefault();
            socket.emit('send message', ($nickname.val().length > 0) ? { msg: $textarea.val(), nickname: $nickname.val(), color: $bgColor } : { msg: $textarea.val(), nickname: "Anonymous", color: $bgColor });
            $textarea.val('');
        });

        socket.on('add message', function (data) {
            $allMessages.append(`<div class="chat-message" style="background-color: #${data.color}">${data.nickname}: ${data.msg}</div>`);
        });

    });
</script>

</html>